NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key
SUPABASE_SECRET_KEY=your-secret-key

# Run `npm run generate-wallets` to auto-generate both seller and buyer wallets
SELLER_ADDRESS=0xYourWalletAddress
SELLER_PRIVATE_KEY=0xYourSellerPrivateKey

BUYER_PRIVATE_KEY=0xYourBuyerPrivateKey

# BASE_URL=http://localhost:3000
# DEPOSIT_AMOUNT=1
